<!DOCTYPE html>
<html>
    <head>
        <title>Nexus</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <div class="container">

            <div class="page">
                <header>
                    <h1>Nathan H. Foster</h1>
                    <hr></hr>
                </header>
            
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <span class="pull-left">(209) 366-4727</span>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        <span>San Jose, CA 95116</span>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <span class="pull-right">nathan.foster@sjsu.edu</span>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <strong>OBJECTIVE</strong>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <span>Seeking a challenging software engineering internship to be on the vanguard of software innovation</span>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <strong>EDUCATION</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span>2016-2018</span>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <strong>SAN JOSE STATE UNIVERSITY</strong>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span class="pull-right">San Jose, CA</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <strong>Bachelor of Science,</strong> Software Engineering (Cumulative GPS 3.2/4.0)

                        <li>Math, Engineering, and Science Achievement (MESA) organization</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span>2014-2016</span>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <strong>DE ANZA COLLEGE</strong>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span class="pull-right">Cupertino, CA</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <strong>General Education,</strong> Computer Information Systems

                        <li>Dean's List, 3 consecutive semesters</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <Strong>TECHNICAL SKILLS</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <li>Operating Systems: Linux, Windows, Mac OS</li>

                        <li>Web Development: JavaScript, Java, HTML, CSS, SCSS, Node.js, SQLite, AngularJS, Git</li>

                        <li>Programming Languages: C++, Java, C#, Ruby on Rails, Java, JavaScript</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <strong>EXPERIENCE</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span>2017- Present</span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <strong>COBE CONSTRUCTION</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                       <strong>Software Engineering Intern</strong>
                       <li>Develop and integrate key web application features to track performance and productivity using AngularJS</li>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span class="pull-right"> Campbell, CA</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span>2013-2014</span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                       <strong>BEST BUY</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                       <strong>Sales Associate,</strong> Computers and Tablets/Home Theater

                       <li>Best Buy Top Sales Lead in Store, 2014</li>

                       <li>Managed employee training for part-time and seasonal associates</li>

                       <li>Collaborated with specialty-store representatives to achieve store and company-wide sales goals</li>

                       <li>Achieved sales that averaged $650/hour and 8 credit card applications/day</li>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span class="pull-">Orem, UT</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <strong>RELATED PROJECTS</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                       <strong>Web application,</strong>
                       <a href="https://genesys10.herokuapp.com/" target="_blank">
                       cURL</a>

                       <li>Developed and marketed the web application utilizing use case descriptions, high level conceptual design, flow chart, entity relationship diagram, relational schema, and UML diagrams</li>

                       <li>Designed and implemented HTML, CSS, SCSS, Java Script, Node.js, SQlite, and RoR framework</li>

                       <li>Collaborated with a team to develop a social platform that builds collections of URLs</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                       <strong>Software development,</strong>
                       <a href="https://github.com/strap8/League-of-Legends-Group-Project" target="_blank">
                       Database</a>
                       <li>Collaborated with a team to employ data abstraction and structure techniques on a database</li>

                       <li>Refined and implemented a hash table, linked list, BST, stack, queue and SFML graphics library</li>

                       <li>Successfully developed and demonstrated the team project</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                       <strong>Mobile development,</strong>
                       <a href="https://github.com/strap8/swiftCalculator" target="_blank">
                       Swift Calculator</a>
                       <li>Developed iOS application using Swift, XCode, and UIKit framework</li>

                       <li>Implemented MVC architecture</li>

                       <li>Used Object Oriented design by utilizing enumeration, classes, structs, and dictionaries</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                       <strong>Video game development,</strong>
                       <a href="https://github.com/scottlafetra/DangerNoodle" target="_blank">
                       Danger Noodle</a>
                       <li>Participated in global game jam hosted at Cogswell College in San Jose</li>

                       <li>Designed and implemented core mechanics to the video game with artists, project manager, and devs</li>

                       <li>Successfully completed our planned project in the 72 hours allotted time</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <strong>LEADERSHIP</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span>2015-2016</span>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                       <strong>DE ANZA ENGINEERING TECHNOLOGY CLUB</strong>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                       <span class="pull-right">Cupertino, CA</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <span></span>
                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">
                       <strong>Student Member,</strong>
                       <a href="https://github.com/strap8/TestRGP">Project: TestRPG</a>
                       <li>Dynamically designed an RPG game to be implemented into a Unity based Android game</li>
                       <li>Delivered innovative methods to simulate battle using a random number generator and a delayed clock</li>
                    </div>
                </div>





                <br>
                <section id="contact" class="content-section text-center hidden-print">
                        <div class="contact-section">
                            <div class="container">
                                <div class="row">
                                       <div class="profile-pic">
                                           <img src="https://pogbvw-dm2306.files.1drv.com/y3mQ6kMM9MUA-hXcoSlG-Ih3WKH-2O8oUTifRb-ji7jumvb1f1ySvchWPX9wuu0Rx2JAchmSKEGDsXgYF_uctB6fVRqrc4gpA44h_uysrz-Z0cqC7J-gKgAo9Igura0mvnlMfXiWYbk6tLfTNUbIw57yJUT6WWH71I7jRgQ2x7TRQ4?width=2408&height=2408&cropmode=none" class="img-circle img-responsive center-block" height="200" width="200">
                                       </div>
                                       <hr style="width: 200px;">
                                  </div>

                                  <h3>Connect with Nathan</h3>
                                  <ul class="list-inline banner-social-buttons">
                                    
                                     <!--Linkedin-->
                                    <a href="https://www.linkedin.com/in/nathanhfoster/" target="_blank" type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin fa-inverse"></i></a>

                                     <!--Email-->
                                    <a href="mailto:nathan.foster@sjsu.edu?subject=Job Opportunity" type="button" class="btn-floating btn-large btn-email" ><i class="fa fa-envelope fa-inverse"></i></a>

                                     <!--Github-->
                                    <a href="https://github.com/strap8" target="_blank" type="button" class="btn-floating btn-large btn-git"><i class="fa fa-github fa-inverse"></i></a>
                                    
                                    <!--Facebook-->
                                    <a href="https://www.facebook.com/nathan.foster.906" target="_blank" type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook fa-inverse"></i></a>
                                   
                                    <!--Twitter-->
                                    <a href="https://twitter.com/nateinthegame" target="_blank" type="button" class="btn-floating btn-large btn-tw"><i class="fa fa-twitter fa-inverse"></i></a>
                                   
                                    <!--Instagram-->
                                    <a  href="https://www.instagram.com/nateinthegame/" target="_blank" type="button" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram fa-inverse"></i></a>
                                    

                                  </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                </section>
            </div> <!-- End of Page -->
        </div>



        

    </body>
</html>
