<html lang="en">
    <head>
        <title>Nexus</title>
        <meta charset="utf-8" />
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" %>
    </head>

    <body>
        <header>
        <h1>Nathan H. Foster</h1>
         <hr></hr>
        </header>

        <nav>
        <ul>
            <li><a href="#">LINK 1</a></li>
            <li><a href="#">LINK 2</a></li>
            <li><a href="#">LINK 3</a></li>
        </ul>
        </nav>

        <section>
        <h2>Section Title</h2>
        <article>
            <h3>Article Heading</h3>
            <p>Article content.... lorem ipsum si imet delor</p>
        </article>
        </section>

        <footer>
        <p>&copy; <%= Date.today.year %> Nathan Foster.</p>
        </footer>

    </body>
</html>