@import "_variables";

body {
    background-color: transparent;
}

body.loaded {
   background-color: $resume;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

div.page {

}

header {
    text-align: center;
}
hr {
    border-top: 2px solid $primary !important;
    /* Top|Right|Bottom|Left*/
    // margin: 20px 15% 20px 15%;
}

li {
	margin-right: 2px;
}

h1,h2,h3 {
	margin: 0 0 35px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a {
	color: $primary !important;
}
a:hover,a:focus{
	text-decoration:none;
	color: $primary !important;
}

#contact{
	background: $light-black;;
	color: $white-smoke;
	padding-bottom: 80px;

	&:hover {
		box-shadow: 4px 4px 2px $primary;
	}
}

textarea.form-control, .form-control {
	max-width: 100%;
    resize: vertical;

    &:focus {
    	border-color: $primary;
    }

    &:hover{
    	border-color: $primary;
    }
}
.fa {
	font-size: 2em !important;
	margin-right: 4px;

	&:hover {
		color: $primary;
	}
}
.profile-pic {
	margin: 40px;
}
section {
	padding-bottom: 40px !important;
}