@import "_variables";

header {
    text-align: center;
}
hr {
    border-top: 2px solid $primary !important;
    /* Top|Right|Bottom|Left*/
    // margin: 20px 15% 20px 15%;
}

li {
	margin-right: 2px;
}

h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background: $light-black;;
	color: $white-smoke;
	padding-bottom:80px;
}

textarea.form-control, .form-control {
	max-width: 100%;
    resize: vertical;

    &:focus {
    	border-color: $primary;
    }

    &:hover{
    	border-color: $primary;
    }
}
.fa {
	font-size: 50px !important;
	margin-right: 10px;

	&:hover {
		color: $primary;
	}
}
.profile-pic {
	margin: 40px;
}
section {
	padding-bottom: 40px !important;
}