@import "_variables";


@media print {
	@page {
		margin: 20px;
	}
	body { 
	    font-family: $font !important;
	    background-color: $white-smoke !important;
	    font-weight: $bold;
	}
	div.page {
		height: auto;
		border: 0;
		margin-bottom: 0;
		page-break-before: always;
		page-break-after: always;
		}
}