@import "_variables";

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

div.page {
	width: 100%;
}

.parallax-header {
	color: $white;
	background-color: $midnight;
	text-align:center;
	padding: 50px 80px;
	text-align: justify;
	& > p {
		line-height: auto;
	}
}

.project-container {
	width: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("http://www.drawingtutorials101.com/drawing-tutorials/Religions/Hinduism/vishnu/how-to-draw-Vishnu-step-0.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://i.ytimg.com/vi/S7_niexGYEo/hqdefault.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("http://www.srinivasagovinda.com/images/2010/release1/srinivasa-govinda-rel1-8.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption span.border {
  background-color: $secondary;
  color: $white;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 8px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #ddd;
}
#project-page {
	color: $white;
   background-color: $ebony-clay;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.box-triangle {
	border-radius: 15px;
    position:relative;
    background-color: $primary;
    height: $box-triangle-height;
    width: $box-triangle-width;
}

.box-triangle:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
   
    margin-left: -25px;
    border-top: solid 25px $primary;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
    // transition: border-top 5.5s ease;
}

.box-triangle-text {
	font-size: auto;
	color: $white !important;
	text-align: center;
    vertical-align: middle;
    line-height: $box-triangle-height;      /* the same as your div height */
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  };

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
// @media only screen and (max-device-width: 1024px) {
//     .parallax {
//         background-attachment: scroll;
//     }
// }