@import "_variables";

html, body {
  height: 100% !important;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  overflow-x: hidden;
}

div.page {

}

.project-container {
	overflow: hidden;
	width: 100%;
}

.parallax {
    /* The image used */
    background-image: url('http://d.c-launcher.com/wallpaper/img/318/53a7c88ce4b0dc540acf437e/1403504780989/wallpaper.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.parallax-div {
  height: 100%;
  background-color: $primary;
  font-size:36px
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #ddd;
}
#project-page {
	color: $white;
   background-color: $ebony-clay;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.box-triangle {
	border-radius: 15px;
    position:relative;
    background-color: $primary;
    height: $box-triangle-height;
    width: $box-triangle-width;
}

.box-triangle:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
   
    margin-left: -25px;
    border-top: solid 25px $primary;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
    // transition: border-top 5.5s ease;
}

.box-triangle-text {
	font-size: auto;
	color: $white !important;
	text-align: center;
    vertical-align: middle;
    line-height: $box-triangle-height;      /* the same as your div height */
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  };

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {}